schema/atom.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:atom="http://www.w3.org/2005/Atom"
           targetNamespace="http://www.w3.org/2005/Atom"
           elementFormDefault="qualified">

    <xs:element name="link" type="atom:linkType"/>

    <xs:complexType name="linkType">
        <xs:attribute name="href" type="xs:anyURI" use="required"/>
        <xs:attribute name="rel" type="xs:string"/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="hreflang" type="xs:string"/>
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="length" type="xs:integer"/>
    </xs:complexType>
</xs:schema>
