schema/fhir.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:fhir="http://hl7.org/fhir"
           targetNamespace="http://hl7.org/fhir"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

 <!-- Define fhir:version and fhir:kind locally -->
  <xs:element name="version" type="xs:string"/>
  <xs:element name="kind" type="fhir:fhirKindType"/>

  <!-- Restrict fhir:kind to specific values -->
  <xs:simpleType name="fhirKindType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="fhir.template"/>
      <xs:enumeration value="IG"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
